/*sävyt figmasta variableiks. nimiä varmaan vois muuttaa*/
:root {
  --vari1: #4A9D0B;
  --vari2: #AEFF71;
  --vari3: #51A80F;
  --vari4: #0FA865;
}

.navbar {
    background-color: var(--vari4);
}

#postButton {
    background-color: var(--vari4);
}

.fish-card {
    background-color: black;
    height: 100%;
    aspect-ratio: 4/5;
}