<div class="modal fade" id="comments-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Sulje"></button>
      </div>

      <div class="modal-body">
        <div class="card-body">
          <header>
            <!--Otsikko-->
            <h2 class="h5 mb-1">Otsikko</h2>
            <p class="text-muted">nimimerkki ja postausaika?</p>
          </header>
          <!--leipäteksti-->
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel vehicula lorem. Mauris et tellus efficitur nulla porta tempus vel quis lectus. Vestibulum nec ante blandit, sodales diam sed, lacinia dolor.</p>
        </div>

        <ul class="list p-0">
          <!--kommentti skeletoni-->
          <li class="list-group-item mb-1">
            <div class="card p-2">
              <header>
                <p class="text-muted">nimimerkki ja postausaika?</p>
              </header>
              <!--leipäteksti-->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. :D</p>
            </div>
          </li>
          <li class="list-group-item mb-1">
            <div class="card p-2">
              <header>
                <p class="text-muted">nimimerkki ja postausaika?</p>
              </header>
              <!--leipäteksti-->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. :D</p>
            </div>
          </li>
          <li class="list-group-item mb-1">
            <div class="card p-2">
              <header>
                <p class="text-muted">nimimerkki ja postausaika?</p>
              </header>
              <!--leipäteksti-->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. :D</p>
            </div>
          </li>
          <li class="list-group-item mb-1">
            <div class="card p-2">
              <header>
                <p class="text-muted">nimimerkki ja postausaika?</p>
              </header>
              <!--leipäteksti-->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. :D</p>
            </div>
          </li>
          <li class="list-group-item mb-1">
            <div class="card p-2">
              <header>
                <p class="text-muted">nimimerkki ja postausaika?</p>
              </header>
              <!--leipäteksti-->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. :D</p>
            </div>
          </li>
          <li class="list-group-item mb-1">
            <div class="card p-2">
              <header>
                <p class="text-muted">nimimerkki ja postausaika?</p>
              </header>
              <!--leipäteksti-->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. :D</p>
            </div>
          </li>
          <li class="list-group-item mb-1">
            <div class="card p-2">
              <header>
                <p class="text-muted">nimimerkki ja postausaika?</p>
              </header>
              <!--leipäteksti-->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. :D</p>
            </div>
          </li>
        </ul>
      </div>


      <div class="modal-footer justify-content-center w-100">
        <form class="w-100">
          <div class="form-group">
            <textarea class="form-control flex-grow-1" id="" placeholder="Kommentoi" rows="3" style="resize: vertical;"></textarea>
            <button type="button" class="btn btn-primary mt-2">Julkaise</button>          
          </div>

        </form>
      </div>
    </div>
  </div>
</div>