<div class="modal fade" id="comments-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vastaukset</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Sulje"></button>
      </div>

      <div class="modal-body">
        <div class="border-bottom mb-3">
          <h2 class="h5 mb-1" id="modal-post-title"></h2>
          <p class="text-muted small" id="modal-post-meta"></p>
          <p id="modal-post-content"></p>
        </div>

        <h6 class="fw-bold">Keskustelu</h6>
        <ul class="list-unstyled" id="modal-replies-list">
           </ul>
      </div> 
      <div class="modal-footer">
        <form class="w-100" id="reply-form">
          <div class="form-group d-flex flex-column">
            <textarea class="form-control mb-2" id="reply-text" placeholder="Kirjoita vastaus..." rows="3" required></textarea>
            <button type="submit" class="btn btn-primary align-self-end">Julkaise hyvä juttu</button>          
          </div>
        </form>
      </div>
    </div>
  </div>
</div>